*,
*:before,
*:after {
    box-sizing: border-box;
    color: #ffffff;
}

:root {
  color-scheme: dark;
}

body {
    background: #111111;
    position: relative;
}

ul, ol {
    font-size: 17px;
}

#dashboard {
    display: none;
}

.mdl-layout__container {
    display: none;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

body[db-ready] .mdl-layout__container
, body[db-error] .mdl-layout__container {
    display: block;
}

.mdl-layout__header
, .mdl-layout__drawer {
    background: #111111;
}


.mdl-layout__header-row {
    padding: 0 10px 0 72px;
}

.persona-header .mdl-layout__header-row.demo-mode {
    background: #f44336;
}

@media screen and (max-width: 1024px) {
    .mdl-layout__header-row {
        padding: 0 16px 0 72px;
    }
}

.mdl-layout__drawer-button .material-icons {
    position: absolute;
    left: 25%;
    top: 25%;
}

.mdl-menu__outline.mdl-menu--bottom-right {
    background: #333333;
}

.mdl-menu__item {
    color: #ffffff;
}

/**
* Loading Element
**/
body[db-ready] .loader
, body[db-error] .loader {
    display: none;
}

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100px;
  position: relative;
  width: 100px;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke: #B6463A;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}
@keyframes color {
  100%, 0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%, 90% {
    stroke: #ffa700;
  }
}

/**
* Material Button
**/
.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: 64px;
    height: 36px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}


/**
* Material Checkbox
**/
.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
}

/* Input */
.pure-material-checkbox > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.pure-material-checkbox > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    word-wrap: break-word;
}

/* Box */
.pure-material-checkbox > span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px; /* Safari */
/*
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
*/
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox > span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 2px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox > input:checked,
.pure-material-checkbox > input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::before,
.pure-material-checkbox > input:indeterminate + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked + span::after,
.pure-material-checkbox > input:indeterminate + span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox > input:indeterminate + span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover > input {
    opacity: 0.04;
}

.pure-material-checkbox > input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover > input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox > input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox > input:active + span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox > input:checked:active + span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox > input:disabled {
    opacity: 0;
}

.pure-material-checkbox > input:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox > input:disabled + span::before {
    border-color: currentColor;
}

.pure-material-checkbox > input:checked:disabled + span::before,
.pure-material-checkbox > input:indeterminate:disabled + span::before {
    border-color: transparent;
    background-color: currentColor;
}


/**
* Labels
**/

.top-label {
    font-size: 18px;
    margin-bottom: 10px;
}

/**
* ScrollBar
**/
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #888888;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #666666; 
}

.material-textbox {
  position: relative;
}
.material-textbox .material-input {
  width: 100%;
  outline: none;
  padding: 8px 0;
  border: none;
  border-bottom: 2px solid #BDBDBD;
  background: transparent;
  cursor: pointer;
}
.material-textbox .material-input:focus ~ .material-label,
.material-textbox .material-input:valid ~ .material-label {
  bottom: 32px;
  font-size: 12px;
  color: #ffffff;
  font-weight: bolder;
}
.material-textbox .material-textbox:hover > input,
.material-textbox .material-input:hover,
.material-textbox .material-input:active,
.material-textbox .material-input:focus {
  border-bottom: 2px solid #212121;
}
.material-textbox .material-input:active,
.material-textbox .material-input:focus {
  cursor: text;
}
.material-textbox .material-label {
  position: absolute;
  display: block;
  bottom: 8px;
  transition: all 200ms;
  font-size: 16px;
  color: #757575;
  z-index: -1;
}


/**
* Drawer
**/
.mdl-layout__drawer {
    border-right: 1px solid #888888;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #ffffff;
    cursor: pointer;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link i.material-icons {
    display: none;
    float: right;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active i.material-icons {
    display: block;
}
/*
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link.active:after {
    content:'\2713';
    font-size: 1.2em;
    vertical-align: middle;
    float: right;
}
*/

.mdl-layout__drawer .mdl-navigation {
    padding-top: 0px;
}

.mdl-layout__drawer > .mdl-layout__title
, .mdl-layout__drawer > .mdl-layout-title
, .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding-left: 10px;
    padding-right: 10px;
    display: none;
}

body[db-ready] .mdl-layout__drawer > .mdl-layout__title
, body[db-ready] .mdl-layout__drawer > .mdl-layout-title
, body[db-ready] .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    display: block;
}

#database_url-input {
    margin-top: 20px;
}

.mdl-layout__drawer #database_url_div {
    padding: 10px;
}

.mdl-layout__drawer #database_url {
    font-size: 16px;
    width: 100%;
}

.mdl-layout__drawer .pure-material-checkbox {
    margin: 5px 0px;
    width: 100%;
}

/*
.mdl-layout__drawer #demo_checkbox {
    margin-top: 10px;
}
*/

/*
.mdl-layout__drawer #demo_checkbox ~ label {
    font-size: 16px;
}
*/

#apply_db_btn {
    width: 100%;
    margin: 10px auto;
}

/**
* Persona Header / Navigation
**/
.persona-header {
    overflow: visible;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1) !important;
}

.persona-header .material-icons {
    color: #767777 !important; /* Keep this !important */
}

.persona-header .mdl-menu.mdl-menu--bottom-right {
    padding: 10px;
}

.persona-header .mdl-menu.mdl-menu--bottom-right > * {
    vertical-align: middle;
}

.persona-header .mdl-menu.mdl-menu--bottom-right .material-icons {
    color: #ffffff !important;
    display: inline;
}

.persona-header .mdl-menu.mdl-menu--bottom-right .mdl-menu__item {
    font-size: 15px;
}

.persona-header .mdl-menu.mdl-menu--bottom-right li.mdl-menu__item {
     padding: 0px 10px;
}

.persona-header .mdl-menu.mdl-menu--bottom-right li.mdl-menu__item * {
    vertical-align: middle;
}

.persona-header .mdl-menu.mdl-menu--bottom-right li.mdl-menu__item span {
    font-size: 17px;
    margin-left: 10px;
}

.persona-header .mdl-layout__drawer-button {
    background: transparent !important;
    color: #767777 !important;
    line-height: 52px;
}

.persona-header .mdl-navigation__link {
    color: #767777 !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    text-transform: uppercase;
}

/* Navigation */
.persona-navigation .mdl-navigation__link {
    display: inline-block !important;
    height: 60px !important;
    line-height: 68px !important;
    background-color: transparent !important; /*Keep this !important*/
    border-bottom: 4px solid transparent !important;
}

.persona-navigation .mdl-navigation__link:hover {
    border-bottom: 4px solid #00bcd4 !important;
}

/* Title */
.persona-title {
    margin: 0 auto;
    font-size: 25px;
}

/**
* Persona Card Grid / Cards
**/
.persona-card-grid {
    padding: 30px 0 !important;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

/* Cards */
.persona-card-wide.mdl-card {
    width: 360px;
}

.persona-card-wide > .mdl-card__title {
    color: #fff;
    height: 200px;
    background: url("https://getmdl.io/assets/demos/welcome_card.jpg") center / cover;
    background-color: #00bcd4;
}

.persona-card-wide > .mdl-card__menu {
    color: #fff;
}

/**
* Navigation Row
**/
.navigation-row {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#criteria_button {
    width: auto;
    height: 100%;
    border-radius: 0%;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    text-align: left;
    text-indent: 15px;
    text-transform: none;
}

#prev_button
,#next_button {
    width: 50px;
    height: 100%;
}

#container {
    width: 100%;
    height: 100%;
}

#container .list-view ul {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
}

.item-label {
    color: #19b6ee;
}

.value-label {
    color: #3eb34f;
}

.comments {
    font-style: italic;
}

#container.details .list-view {
    background: transparent;
    transition: background 0.5s;
    pointer-events: none;
}
#container.details .list-view li {
    transition: transform 0.3s, opacity 0.2s;
}

#container.details .list-view li:not(.active) {
    opacity: 0;
}

#container.details .list-view li.active {
    transform: translate3d(0, 140px, 0);
    border-color: rgba(255, 255, 255, 0);
    transition: transform 0.3s, opacity 0.2s, border-color 0.2s;
}

#container.details .list-view li.active:hover {
    background: none;
}

#container .list-view { 
    z-index: 1;
    transition: background 0.3s 0.1s;
}

#container .list-view ul li {
    display: inline-block;
    left: 0;
    right: 0;
    width: 100%;
/*
    height: 50px;
*/
    border-color: #ddd;
    transition: transform 0.3s, opacity 0.3s 0.3s, border-color 0.3s 0.3s;
}

#container .list-view li.section {
    height: 40px;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #666666;
    font-size: 15px;
}

#container .list-view ul li .value {
    -webkit-font-smoothing: antialiased;
}

/*
#container .list-view ul li:hover {
    background: #888888;
}
*/

#container .list-view ul li .left
, #container .list-view ul li .right {
    content: "";
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin: 10px 15px;
}

#container .list-view ul li .right {
    float: right;
    max-width: 200px;
}

#container .list-view ul li .right div {
    text-align: right;
}
